@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", cursive;
    background: #135;
    
}

.header{
    display: inline;
    justify-content: center;
    align-items: center;
    
}

.header nav{
    text-align: center;
    margin-top: -10px;
}
.header nav a{
    margin: 10px;
    text-decoration: none;
    text-align: center;
    font-size: 1.3rem;
    color: #fff;
}


.header .one a{
    color: rgb(239, 250, 138); 
    position: absolute;
    font-size: 1.5rem;
    padding: 8px;
    text-decoration: none;
}

#side{
    width: 30px;
    display: none;
}

#ccl{
    width: 30px;
    padding: 20px;
    position: absolute;
    display: none;
}
.one{
    margin-right: 200px;
    color: #e99; 
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 50px;
}

.main .content{
    flex-direction: row; 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.main .content h2{
    font-size: 2rem;
    color: #fee;
}

.main .content p{
  font-size: 1.5rem;
  color: rgb(239, 250, 138); 
  text-align: center;
}

.main .content img{
    height: 300px;
    width: 300px;
    border-radius: 10px;
    box-shadow:  0px 0px px #e99;
}

.main .content #bnc{
    height: 40px;
    position: absolute;
    text-align: center;
    padding: 80px;
    width: 40px;
    transition: 3s linear ease-in-out;
    animation-name: one;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    
}

@keyframes one{
    0%{
        transform: scale(1.1);
    }
    50%{
        transform: scale(0.9);
    }
    100%{
        transform: scale(1);
    }
}

#ok{
    position: absolute;
    height: 40px;
    width: 40px;
    padding-left: 90%;
    transition: 3s linear ease-in-out;
    animation-name: two;
    animation-iteration-count: infinite;
    animation-duration: 4s;
}

@keyframes two{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(0.9);
    }
    100%{
        transform: scale(1);
    }
}
.footer{
    height: 500px;
    width: 100%;
    background: #123;
    bottom: 0;
}

.footer .head {
    display: block;
    margin-top: 80px;
}

.footer .head h3 {
    margin: 5px;
    color: #fff;
    top: 30px;
    position: relative;
    font-size: 0.9rem;
}



.footer .media{
    margin-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.footer .media img{
    margin: 10px;
    display: block;
}

.footer .page{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: -10px;
}

.footer .page footer{
    font-size: 1rem;
    color: #e99;
}

.footer .page h4{
    font-size: 1.2rem;
    color: #fee;
}

@media (max-width:1300px) {
   
    .header{
        display: inline;
        justify-content: center;
        align-items: center;
        
    }
    .header nav a{
        margin: 10px;
        text-decoration: none;
        padding-left: 70px;
        font-size: 1.3rem;
        color: #fff;
    }
}

@media (max-width:1120px) {
    
    .header{
        display: inline;
        justify-content: center;
        align-items: center;
        
    }
    .header nav a{
        margin: 10px;
        text-decoration: none;
        padding-left: 50px;
        font-size: 1.3rem;
        color: #fff;
    }

    .main .content h2{
        font-size: 2rem;
        color: #fee;

    }
    
    .main .content p{
      font-size: 1.3rem;
      color: rgb(239, 250, 138); 
      margin-left: -40px;
      text-align: center;
    }
    
    .main .content img{
        height: 300px;
        width: 300px;
    }
}

@media (max-width:1000px) {
    
    .header{
        display: inline;
        justify-content: center;
        align-items: center;
        
    }
    .header nav a{
        margin: 10px;
        text-decoration: none;
        padding-left: 20px;
        font-size: 1.3rem;
        color: #fff;
    }

    .main .content h2{
        font-size: 2rem;
        color: #fee;

    }
    
    .main .content p{
      font-size: 1.3rem;
      color: rgb(239, 250, 138); 
      margin-left: -40px;
      text-align: center;
      
    }
    
    .main .content img{
        height: 300px;
        width: 300px;
    }
}

@media (max-width:960px) {
    
    .header{
        display: inline;
        justify-content: center;
        align-items: center;
        
    }
    .header nav a{
        margin: 10px;
        text-decoration: none;
        padding-left: 20px;
        font-size: 1.3rem;
        color: #fff;
    }
    .main .content{
        margin-top: 150px;
    }
    .main .content h2{
        font-size: 2rem;
        color: #fee;

    }
    
    .main .content p{
      font-size: 1.2rem;
      color: rgb(239, 250, 138); 
      margin-left: -10px;
      text-align: center;
    }
    
    .main .content img{
        height: 300px;
        width: 300px;
       
    }
}


@media (max-width:870px) {
   
    .header{
        display: inline;
        justify-content: center;
        align-items: center;
        
    }
    .header nav a{
        margin: 5px;
        text-decoration: none;
        padding-left: 15px;
        font-size: 1.3rem;
        color: #fff;
    }

    .main .content{
        gap: 34px;
    }

    .main .content h2{
        font-size: 1.5rem;
        color: #fee;
        margin-left: 40px;
    }
    
    .main .content p{
      font-size: 1.1rem;
      color: rgb(239, 250, 138); 
      margin-left: 10px;
      text-align: center;
    }
    
    .main .content img{
        height: 250px;
        width: 250px;
       
    }
}

@media (max-width:800px) {
   
    .header{
        display: inline;
        justify-content: center;
        align-items: center;
        background: #999;
        width:100%;
        margin-top: -50px;
        height: 50px;
        position: absolute;
    }
   
    nav{
        background: #999;
        margin: 0;
        padding: 0;
        margin-top: 2px;
        z-index: 1;
        position: absolute;
        height: 1500px;
        width: 100%;
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
       
    }
    .header nav a{
        margin: 65px;
        text-decoration: none;
        color: #123;
        font-size: 1.3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 999;
        margin-top: 80px;
        gap: 100px;
    }


    .header .one a{
        color: rgb(239, 250, 138); 
        position: absolute;
        font-size: 1rem;
        line-height: 1.3;
        padding: 8px;
        text-decoration: none;
    }

    .main{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        margin-top: 50px;
    }
    
    .main .content{
        flex-direction: column; 
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 80px;
        margin-top: 150px;
    }
  
    
    .main .content h2{
        font-size: 2rem;
        color: #fee;
        margin-top: 100px;
        text-align: center;
    }
    
    .main .content p{
      font-size: 1.5rem;
      color: rgb(239, 250, 138); 
      
      text-align: center;
    }
    
    .main .content img{
        height: 250px;
        width: 250px;
        border-radius: 10px;
        box-shadow:  0px 0px px #e99;
    }
    

    .main .content #bnc{
        height: 40px;
        position: absolute;
        text-align: center;
        padding: 15px;
        width: 40px;
        
    }

    #ok{
        position: absolute;
        height: 40px;
        width: 40px;
        padding-left: 90%;
        transition: 3s linear ease-in-out;
        padding-top: 10px;
    }
    #side{
        width: 35px;
        display: block;
        padding-left: 90%;
        top: 4px;
        position: absolute;
    }

    #ccl{
        width: 30px;
        padding: 20px;
        position: absolute;
        display: block;
    }
    .header .one {
        position: relative;
        margin-top: 5px;
        left: 20px;
        font-size: 2rem;
        color: #e99;
    }

   
    .main .content{
        gap: 4px;
    }

    .main .content h2{
        font-size: 1.5rem;
        line-height: 10px;
        color: #fee;
    }
    
    .main .content p{
      font-size: 1.1rem;
      color: rgb(239, 250, 138); 
      text-align: center;
      line-height: 20px;
    }
    
    .main .content img{
        height: 250px;
        width: 250px;
       
    }
    .footer .head h3{

    }
}

@media (max-width:500px) {
    .main .content{
        gap: 4px;
        margin-top: 100px;
    }

    .main .content h2{
        font-size: 1.3rem;
        text-align: center;
        color: #fee;
    }
    
    .main .content p{
      font-size: 1.1rem;
      color: rgb(239, 250, 138); 
      text-align: center;
   
    }

    .page h4{
        text-align: center;
        font-size: 0.5rem;
    }
    .main .content img{
        height: 250px;
        width: 250px;
       
    }
}